<div class="chat-area">
  <aside>
    <div class="chat-top p-2 px-5">
      <div
        class="profile-area d-center justify-content-between align-items-baseline"
      >
        <div
          class="avatar-item d-flex mb-2 gap-3 align-items-center cursor"
          (click)="clearChatList()"
        >
          <div class="avatar-item">
            <!--  -->
            <img
              [src]="sharedService?.userData?.ProfilePicName"
              class="w-48-px rounded-3"
              alt="avatar"
            />
          </div>
          <div class="info-area">
            <h6 class="m-0">{{ sharedService?.userData?.Username }}</h6>
          </div>
        </div>
        <div class="btn-group cus-dropdown d-flex gap-3">
          <div ngbDropdown class="d-inline-block">
            <button class="dropdown-btn" ngbDropdownToggle>
              <fa-icon [icon]="['fas', 'ellipsis-h']" class="font-20-px" />
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <!-- <button ngbDropdownItem (click)="goToViewProfile()">
                <a class="droplist d-flex align-items-center gap-2">
                  <fa-icon [icon]="['fas', 'user']" />
                  <span>View Profile</span>
                </a>
              </button> -->
              <div class="dropdown-preferences">
                <div class="d-flex flex-column">
                  <label class="d-flex form-label">Sound Preferences</label>
                  <div class="d-flex align-items-baseline">
                    <p class="m-1">
                      Sound for new message
                      <strong>{{
                        isMessageSoundEnabled ? "On" : "Off"
                      }}</strong>
                    </p>
                    <div class="form-switch">
                      <input
                        [(ngModel)]="isMessageSoundEnabled"
                        class="form-check-input p-2"
                        type="checkbox"
                        role="switch"
                        id="flexSwitchCheckChecked"
                        (change)="
                          toggleSoundPreference(
                            'messageSoundEnabled',
                            isMessageSoundEnabled
                          )
                        "
                      />
                      <!-- (change)="notificationSound()" -->
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-baseline">
                    <p class="m-1">
                      Call ring tone
                      <strong>{{ isCallSoundEnabled ? "On" : "Off" }}</strong>
                    </p>
                    <div class="form-switch">
                      <input
                        [(ngModel)]="isCallSoundEnabled"
                        class="form-check-input p-2"
                        type="checkbox"
                        role="switch"
                        id="flexSwitchCheckChecked"
                        (change)="
                          toggleSoundPreference(
                            'callSoundEnabled',
                            isCallSoundEnabled
                          )
                        "
                      />
                      <!-- (change)="callSound()" -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button ngbDropdownItem>
                <a class="droplist d-flex align-items-center gap-2" href="#">
                  <fa-icon [icon]="['fas', 'ban']" />
                  <span>Hide Contact</span>
                </a>
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <span class="m-1">Search for end users to message:</span>
      <div class="input-area py-2 d-flex align-items-center">
        <fa-icon [icon]="['fas', 'search']" class="font-20-px m-1" />
        <input
          type="text"
          placeholder="Search"
          [(ngModel)]="searchText"
          autocomplete="off"
          (keyup)="getUserList()"
        />
      </div>
      <ng-container *ngIf="searchText">
        <div #userSearchDropdownRef ngbDropdown>
          <div
            ngbDropdownMenu
            class="search-user-list w-100 overflow-x-hidden overflow-y-auto"
          >
            <ng-container *ngIf="userList.length > 0; else noUserFound">
              <ng-container *ngFor="let user of userList">
                <div
                  ngbDropdownItem
                  class="d-flex gap-3 pe-auto"
                  role="button"
                  (click)="onChat(user)"
                >
                  <img
                    loading="lazy"
                    class="w-32-px h-32-px rounded"
                    data-src="{{ user.ProfilePicName }}"
                    [alt]="user.Username"
                    onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
                  />
                  <span class="overflow-hidden text-truncate">{{
                    user.Username.split(" ").join("")
                  }}</span>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #noUserFound>
              <div class="text-center">
                <span>No result found</span>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="header-menu cus-scrollbar overflow-auto">
      <ng-container>
        <app-inline-loader *ngIf="isChatLoader" />
      </ng-container>
      <div class="single-item messages-area" *ngFor="let item of chatList">
        <div
          class="text-start d-flex justify-content-between chat-single p-5"
          (click)="onChat(item)"
          [ngClass]="{ active: item === selectedChatUser }"
        >
          <div class="d-flex gap-2">
            <div class="avatar">
              <img
                class="avatar-img h-40-px w-40-px max-un"
                src="{{ item?.ProfilePicName }}"
                [alt]="item?.Username || item?.FirstName"
                onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
              />
            </div>
            <div
              class="text-area d-flex justify-content-between w-248-px align-items-center"
            >
              <div class="title-area position-relative d-grid">
                <h6 class="m-0 d-inline-flex">
                  {{ item?.Username || item?.FirstName }}
                </h6>
                <!-- <span class="font-16-px">{{ item?.updatedDate | dateDay }}</span> -->
                <span
                  class="font-16-px last-message"
                  *ngIf="item?.lastMessageText !== null"
                  [innerHTML]="
                    encryptDecryptService.decryptUsingAES256(
                      item?.lastMessageText
                    )
                  "
                >
                  <!-- {{
                    encryptDecryptService?.decryptUsingAES256(
                      item?.lastMessageText
                    )
                  }} -->
                </span>
              </div>
              <div class="d-flex align-items-center">
                <span
                  class="abs-area d-center mdtxt top-0 start-100 translate-middle badge rounded-pill bg-danger mt-4"
                  *ngIf="item?.unReadMessage > 0"
                  >{{ item?.unReadMessage }}</span
                >
                <span class="font-12-px">
                  {{ item?.updatedDate | messageTime }}
                </span>
              </div>
              <!-- <p class="mdtxt sms">{{ item.text }}</p> -->
            </div>
          </div>
          <!-- <div class="btn-group cus-dropdown d-flex gap-3">
            <div ngbDropdown class="d-inline-block">
              <button class="dropdown-btn" ngbDropdownToggle>
                <fa-icon [icon]="['fas', 'ellipsis-h']" class="font-20-px" />
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <button ngbDropdownItem>
                  <a class="droplist d-flex align-items-center gap-2" href="#">
                    <fa-icon [icon]="['fas', 'user-minus']" />
                    <span>Unfollow</span>
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="droplist d-flex align-items-center gap-2" href="#">
                    <fa-icon [icon]="['fas', 'ban']" />
                    <span>Hide Contact</span>
                  </a>
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </aside>
  <aside>
    <div class="chat-top p-2 px-5">
      <span class="m-1">Pending Invites:</span>
    </div>
    <div class="header-menu cus-scrollbar-pending overflow-auto">
      <div
        class="single-item messages-area"
        *ngFor="let item of pendingChatList"
      >
        <div
          class="text-start d-flex justify-content-between chat-single p-5"
          (click)="onChat(item)"
          [ngClass]="{ active: item === selectedChatUser }"
        >
          <div class="d-flex gap-2">
            <div class="avatar">
              <img
                class="avatar-img h-40-px w-40-px max-un"
                src="{{ item?.ProfilePicName }}"
                [alt]="item?.Username || item?.FirstName"
                onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
              />
            </div>
            <div
              class="text-area d-flex justify-content-between w-248-px align-items-center"
            >
              <div
                class="title-area position-relative d-flex justify-content-between w-100"
              >
                <h6 class="m-0 d-inline-flex">
                  {{ item?.Username || item?.FirstName }}
                </h6>
                <!-- <span class="font-16-px">{{ item?.updatedDate | dateDay }}</span> -->
                <span class="font-12-px last-message">{{
                  item?.createdDate | messageTime
                }}</span>
              </div>
              <!-- <div>
                <span
                  class="abs-area d-center mdtxt top-0 start-100 translate-middle badge rounded-pill bg-danger mt-4"
                  *ngIf="item?.unReadMessage > 0"
                  >{{ item?.unReadMessage }}</span
                >
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
