:host {
  //   .research-sidebar.cus-scrollbar {
  //     position: sticky;
  //     top: 92px;
  //     max-height: calc(100vh - 112px);
  //     overflow-x: auto;
  //   }

  //   .border-top {
  //     border-top: 1px solid var(--bs-border-color) !important;
  //   }

  .messages-area {
    .last-message {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .search-user-list {
    max-height: 300px;
    overflow: scroll;
  }
  .avatar-img {
    max-width: 40px;
  }
  .cus-scrollbar {
    height: 39vh;
    @media (max-width: 992px) {
      height: 42vh;
    }
  }
  .cus-scrollbar-pending {
    height: 17vh;
    @media (max-width: 992px) {
      height: 26vh;
    }
  }

  .dropdown-preferences {
    margin: 0 10px;
  }
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: var(--primary-color) !important;
}
