:host {
  //   .research-sidebar.cus-scrollbar {
  //     position: sticky;
  //     top: 92px;
  //     max-height: calc(100vh - 112px);
  //     overflow-x: auto;
  //   }

  //   .border-top {
  //     border-top: 1px solid var(--bs-border-color) !important;
  //   }
  .sidebar-head-text{
    max-width: 178px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    
    @media (max-width:991px) {
      max-width: 162px;
    }
  }
  .select-chat-group {
    button {
      background-color: var(--box-1st-color);
      border-radius: 7px;
      width: 100%;
      margin: 0 5px;
    }
    button.active {
      background-color: var(--btn-1st-color) ;
    }
  }

  .sidebar-items {
    width: 240px;

    @media (max-width: 992px) {
      width: 200px;
    }
  }

  .messages-area {
    .last-message {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .search-user-list {
    max-height: 300px;
    overflow: scroll;
  }
  .avatar-img {
    max-width: 40px;
  }
  .cus-scrollbar {
    height: 36vh;
    // height: 39vh;
    @media (max-width: 992px) {
      height: 42vh;
    }
  }
  .cus-scrollbar-pending {
    height: 17vh;
    @media (max-width: 992px) {
      height: 26vh;
    }
  }

  .dropdown-preferences {
    margin: 0 10px;
  }
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: var(--primary-color) !important;
}
