:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tag-input-div {
    font-size: 16px;
    min-height: 56px;
    text-align: start;
    max-width: 541px;
    width: calc(100% - 60px);
    overflow: hidden;
    overflow-wrap: anywhere;
  }

  .tag-input-div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #697495;
  }

  .select-emaojies {
    position: absolute;
    right: 0;
    top: 5px;
  }

  .select-emaojies .dropdown-toggle::after {
    display: none;
  }

  .select-emaojies .emoji-select {
    max-width: 60px;
    min-width: 60px;
  }

  .select-emaojies .emojiModelStyle {
    width: 282px;
  }
}

::ng-deep {
  .tag-input-div div,
  .tag-input-div h1,
  .tag-input-div h2,
  .tag-input-div h3,
  .tag-input-div h4,
  .tag-input-div h5,
  .tag-input-div h6,
  .tag-input-div a,
  .tag-input-div span,
  .tag-input-div p {
    background: unset;
    font-size: 16px;
    line-height: unset;
    color: var(--para-2nd-color);
    font-weight: 400;
    overflow-wrap: anywhere;
  }

  .tag-input-div a {
    color: rgb(var(--bs-danger-rgb));
  }

  .dropdown-menu.show {
    max-height: 292px;
  }

  mention-list .mention-menu {
    width: 340px;
  }

  mention-list .mention-menu .mention-item {
    padding: 8px;
  }

  .tag-image-preview img {
    display: none;
  }
}

.tag-image-preview ::ng-deep img[src$=".gif"] {
  display: unset;
}
