name: Build and Deploy Freedom SSR

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install dependencies
      run: npm install

    - name: Build client-side and server-side
      run: |
        npm run build:ssr

    - name: Deploy via SFTP with SSH Key
      uses: appleboy/scp-action@v0.1.5
      with:
        host: ${{ secrets.SFTP_HOST }}
        username: ${{ secrets.SFTP_USERNAME }}
        key: ${{ secrets.SFTP_SSH_KEY }}
        # passphrase: ${{ secrets.SFTP_PASSPHRASE }} # Optional: Use if your SSH key has a passphrase.
        source: "dist/"
        target: "/root/dist"
        port: ${{ secrets.SFTP_PORT }} # Optional: If your SFTP server is running on a non-default port.
